<a href="https://colab.research.google.com/github/akshitaausula9/160724754119-AI-B-DS/blob/main/3_2_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
t = (1, 2, 3)
print(t[0])

1

In [6]:
numbers = {1, 2, 3, 4, 4, 5}
print(numbers)  # Duplicates removed automatically

# Adding elements
numbers.add(6)
print(numbers)

# Removing elements
numbers.remove(3)
print(numbers)

# Checking membership
print(2 in numbers)   # True

# Looping through a set
for num in numbers:
    print(num)

# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.union(set2))        # {1,2,3,4,5}
print(set1.intersection(set2)) # {3}
print(set1.difference(set2))   # {1,2}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
True
1
2
4
5
6
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [7]:
x=10
print(type(x))
y=3.14
print(type(y))
z="hello"
print(type(z))
a=3+10j
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>